<h1 mat-dialog-title>new user</h1>
<div mat-dialog-content>
  <form [formGroup]="userForm" action="/" method="post">

    <mat-form-field appearance="fill">
      <input formControlName="userName" matInput placeholder="Name">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <input formControlName="userEmail" matInput placeholder="Email">
    </mat-form-field>

  </form>
</div>
<div mat-dialog-action [align]="'end'">
  <button mat-raised-button color="warn" mat-dialog-close>Close</button>
  <button mat-raised-button style="margin-left:8px" color="primary" (click)="adduser()" >{{actionBtn}}</button>

</div>
